{% extends '@EasyAdmin/layout.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/userstats/lib/css/datatables.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/userstats/lib/css/apexcharts.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/userstats/css/app.css') }}">
{% endblock %}

{% block content_title %}
    {{ 'user.stats.title'|trans({}, 'UserStatsBundle') }} {% if user.lastname is defined and user.firstname is defined %}{{ user.lastname ~ ' ' ~ user.firstname }}{% endif %}
{% endblock %}

{% block page_actions %}
    <a class="btn btn-secondary" href="{{ ea_url().setController('App\\Controller\\SuperAdmin\\UserCrudController').setAction('detail').setEntityId(user.id) }}">{{ 'actions.user.show'|trans({}, 'UserStatsBundle') }}</a>
    <a class="btn btn-secondary" href="{{ ea_url().setController('App\\Controller\\SuperAdmin\\UserCrudController').setAction('index') }}">{{ 'actions.index_user.show'|trans({}, 'UserStatsBundle') }}</a>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#removeUsersStatsModal">{{ 'actions.delete.stats'|trans({}, 'UserStatsBundle') }}</button>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-sm-3 mb-4">
            <div class="card text-center">
                <div class="card-header">{{ 'user.stats.card.lastConnexion'|trans({}, 'UserStatsBundle') }}</div>
                <div class="card-body">
                    <h5 class="mb-0">{% if last_connexion %}{{ last_connexion|format_datetime('long', 'medium', locale=app.request.locale) }}{% else %}{{ 'label.null'|trans({}, 'EasyAdminBundle') }}{% endif %}</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mb-4">
            <div class="card text-center">
                <div class="card-header">{{ 'user.stats.card.lastVisited'|trans({}, 'UserStatsBundle') }}</div>
                <div class="card-body">
                    <h5 class="mb-0">{% if last_visited %}{{ last_visited|format_datetime('long', 'medium', locale=app.request.locale) }}{% else %}{{ 'label.null'|trans({}, 'EasyAdminBundle') }}{% endif %}</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mb-4">
            <div class="card text-center">
                <div class="card-header">{{ 'user.stats.card.totalPageSee'|trans({}, 'UserStatsBundle') }}</div>
                <div class="card-body">
                    <h5 class="mb-0">{{ nb_page_views }}</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mb-4">
            <div class="card text-center">
                <div class="card-header">{{ 'user.stats.card.pageSeeToday'|trans({}, 'UserStatsBundle') }}</div>
                <div class="card-body">
                    <h5 class="mb-0">{{ page_views_today|length }}</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-4">
            <div class="card text-center">
                <div class="card-header">{{ 'user.stats.card.avgHours'|trans({}, 'UserStatsBundle') }}</div>
                <div class="card-body">
                    {% if avg_utilisation.hours %}
                        {% for hour, nb in avg_utilisation.hours %}
                            <span class="badge badge-primary badge-pill">{{ hour }}h <i>({{ nb }}x)</i></span>
                        {% endfor %}
                    {% else %}
                        <h5 class="mb-0">{{ 'label.null'|trans({}, 'EasyAdminBundle') }}</h5>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-4">
            <div class="card text-center">
                <div class="card-header">{{ 'user.stats.card.avgDay'|trans({}, 'UserStatsBundle') }}</div>
                <div class="card-body">
                    {% if avg_utilisation.day %}
                        {% for day, nb in avg_utilisation.day %}
                            <span class="badge badge-primary badge-pill">{{ ('day.' ~ day)|trans({}, 'UserStatsBundle') }} <i>({{ nb }}x)</i></span>
                        {% endfor %}
                    {% else %}
                        <h5 class="mb-0">{{ 'label.null'|trans({}, 'EasyAdminBundle') }}</h5>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-4">
            <div class="card text-center">
                <div class="card-header">{{ 'user.stats.card.mostRouteViewed'|trans({}, 'UserStatsBundle') }}</div>
                <div class="card-body">
                    {% if most_route_viewed %}
                        <div class="chart-container">
                            <div id="most-route-viewed" data-json="{{ most_route_viewed|json_encode }}"></div>
                        </div>
                    {% else %}
                        <h5 class="mb-0">{{ 'label.null'|trans({}, 'EasyAdminBundle') }}</h5>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered fluffy-user-stats-table" style="width: 100%">
                        <thead>
                        <tr>
                            <th scope="col">{{ 'user.stats.table.head.date'|trans({}, 'UserStatsBundle') }}</th>
                            <th scope="col">{{ 'user.stats.table.head.url'|trans({}, 'UserStatsBundle') }}</th>
                            <th scope="col">{{ 'user.stats.table.head.route'|trans({}, 'UserStatsBundle') }}</th>
                            <th class="no-sort" scope="col">{{ 'user.stats.table.head.link'|trans({}, 'UserStatsBundle') }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for index, page in page_views_year %}
                            <tr>
                                <td data-sort="{{ index }}">{{ page.createdAt|format_datetime('medium', 'medium', locale=app.request.locale) }}</td>
                                <td>
                                    {{ page.url|slice(0,50) }}{{ (page.url|length > 50) ? '...' }}
                                </td>
                                <td>{{ page.route }}</td>
                                <td>
                                    <a class="btn btn-secondary" target="_blank" href="{{ page.url }}">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% if statsSession %}
            <div class="col-sm-12 mb-4">
                <div class="card">
                    <div class="card-header">Par session</div>
                    <div class="card-body">
                        <div class="accordion" id="ffAccordionSession">
                            {% for sessionId, userStatsLines in statsSession %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading{{ sessionId }}">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ sessionId }}" aria-expanded="true" aria-controls="collapse{{ sessionId }}">
                                            {{ (userStatsLines|first).createdAt|format_datetime('short', 'medium', locale=app.request.locale) }} - {{ (userStatsLines|last).createdAt|format_datetime('short', 'medium', locale=app.request.locale) }}
                                        </button>
                                    </h2>
                                    <div id="collapse{{ sessionId }}" class="accordion-collapse collapse" aria-labelledby="heading{{ sessionId }}" data-bs-parent="#ffAccordionSession">
                                        <div class="accordion-body">
                                            <ul class="list-group">
                                                {% for index, userStatsLine in userStatsLines %}
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        <div>
                                                            <p class="mb-0"><span class="badge bg-secondary me-2">{{ userStatsLines|length - index }}</span>{{ userStatsLine.route }}</p>
                                                            <a href="{{ userStatsLine.url }}"><small>{{ userStatsLine.url|length > 50 ? userStatsLine.url|slice(0, 50) ~ '...' : userStatsLine.url  }}</small></a>
                                                        </div>
                                                        <div>
                                                            {{ userStatsLine.diff|date("<span class='badge badge-secondary'>%d j</span> <span class='badge badge-secondary'>%h h</span> <span class='badge badge-secondary'>%i m</span> <span class='badge badge-secondary'>%s s</span>")|raw }}
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="navigation text-center">
                {{ knp_pagination_render(statsSession) }}
            </div>
        {% endif %}
    </div>

    <div class="modal fade" id="removeUsersStatsModal" tabindex="-1" role="dialog" aria-labelledby="removeUsersStatsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'user.stats.modal.delete.title'|trans({}, 'UserStatsBundle') }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ 'user.stats.modal.delete.body'|trans({}, 'UserStatsBundle') }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'action.cancel'|trans({}, 'EasyAdminBundle') }}</button>
                    <a class="btn btn-danger" href="{{ ea_url().setRoute('fluffy_remove_user_stats', { id: user.id }) }}"><i class="fa fa-times me-2"></i>{{ 'actions.delete.stats'|trans({}, 'UserStatsBundle') }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    <script type="text/javascript">
        var locale = '{{ app.request.locale }}';
    </script>
    <script type="text/javascript" src="{{ asset('bundles/userstats/lib/js/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/userstats/lib/js/apexcharts.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/userstats/js/app.js') }}"></script>
{% endblock %}
